# Advanced Sets

In [1]:
s = set()

In [2]:
type(s)

set

In [3]:
s.add(1)

In [4]:
s.add(2)

In [5]:
s

{1, 2}

In [6]:
s.add(2) # wont add duplicated items

In [7]:
s

{1, 2}

In [8]:
s.clear()

In [9]:
s

set()

In [10]:
s = {1,2,3}

In [11]:
sc = s.copy()

In [12]:
sc

{1, 2, 3}

In [13]:
s.add(4)

In [14]:
s

{1, 2, 3, 4}

In [16]:
sc # changes to the original won't affect the copy

{1, 2, 3}

In [18]:
s.difference(sc) # check difference between sets

{4}

In [19]:
s1 = {1,2,3}

In [20]:
s2 = {1,4,5}

In [23]:
s1.difference_update(s2) # returns the first set after removing all the elements found on second set

In [22]:
s1

{2, 3}

In [24]:
s

{1, 2, 3, 4}

In [27]:
s.discard(2) # if it's in the set, will get rid of it, otherwise, nothing happens

In [26]:
s

{1, 3, 4}

In [28]:
s.discard(5)

In [29]:
s

{1, 3, 4}

In [36]:
s1 = {1,2,3}

In [37]:
s2 = {1,2,4}

In [33]:
s1.intersection(s2) # returns elements common in both of the sets.

{1, 2}

In [40]:
s1.intersection_update(s2) # makes the first set equal to that intersection of set2

In [41]:
s1

{1, 2}

In [42]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [44]:
# will return true if 2 sets have a null intersection
s1.isdisjoint(s2) 
# will return false because they DO have in intersection

False

In [45]:
s1.isdisjoint(s3) # true, because they don't have any intersection

True

In [46]:
s1

{1, 2}

In [47]:
s2

{1, 2, 4}

In [48]:
# s1 is a subset of s2
s1.issubset(s2)

True

In [50]:
s2.issuperset(s1) # the inverse of issubset

True

In [51]:
s1

{1, 2}

In [52]:
s2

{1, 2, 4}

In [54]:
s1.symmetric_difference(s2) # inverse of intersection. Will return the elements NOT present in both sets

{4}

In [55]:
s1.union(s2) # returns the UNION of 2 sets

{1, 2, 4}

In [56]:
s2.union(s3)

{1, 2, 4, 5}

In [57]:
s1.update(s2)

In [58]:
s1

{1, 2, 4}

In [61]:
s2.update(s3) # updates a set with another set (similar to union)

In [62]:
s2

{1, 2, 4, 5}